<div class="aspect-copy-container">
    <slot />
</div>

<style>
    .aspect-copy-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        padding: 0 1rem;
    }
</style>
